<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventTraceWatcher" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.0.6" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" requireReinstallation="true" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net45" />
  <package id="System.Collections" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.IO" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Linq" version="4.0.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.1.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.0.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.0.20" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Text.Encoding.Extensions" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Threading" version="4.0.10" targetFramework="net46" requireReinstallation="true" />
  <package id="Twilio" version="4.4.0" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="3.0.8" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="6.1.0" targetFramework="net45" />
</packages>